.main-wrapper {
    display: flex;
    width: 100%;
    height: 300px;
    justify-content: space-between;
    background-color: red;
}

.text-wrapper{
    display: flex;
    align-items: stretch;
    flex-direction: column;
    margin: 0 20px;
    flex-basis: 40%;
    border: 2px solid black;
}

.text-input{
    align-self: flex-end;
    justify-self: flex-end;
    width: 200px;
    height: 20px;
}

.text-wrapper > h1{
    width: 100%;
    height: 20px;
}